$colors: (
        'red': #ff3200,
        //'orange': #e04301,
        'orange': #fd7500,
        'amber': #ff9703,
        'yellow': #ffee56,
        'lime': #CCFF00,
        'green': #39FF14,
        'darkgreen': #016201,
        //'cian': #0Fe0eC,
        'aqua': #0FF0FC,
        'blue': #204ee8,
        //'darkblue': #250096,
        'violet': #5600f4,
        'purple': 	#f000ff,
        //'fuchsia': #2d0245,
        'pink': #db2777,
        'rose': #e11d48,
        'lightgrey': #cccccc,
);

@function col($col) {
    @return map-get($colors, $col);
}

$bg-main: #252324;

$directions: 'top', 'right', 'bottom', 'left';

$main-line-size: 65%;
$minor-line-size: 30%;
$line-radius: 200px;
$puzzle-bg-color: aliceblue;
$puzzle-max-width: 400px;

$point-size: 56%;

$tablet: 900px;

$device: 650px;

$font-main: 'Roboto', sans-serif;

.shadow {
    box-shadow: 0 0 3px 3px lightblue;
}

#menu-btn {
    margin: 15px 0;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    @extend .shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-main;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0 0 3px 3px lighten(blue, 30%);
    }
    svg {
        display: block;
        color: ivory;
        width: 1.6rem;
        height: 1.6rem;
    }
}

#main-btn {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    transition: all .3s;
    &:hover {
        box-shadow: 0 0 3px 2px lighten(blue, 80%);
    }
}

#modal {
    position: absolute;
    width: 80vw;
    height: 40vh;
    border-radius: 5px;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    z-index: 300000;
    border-radius: 5px;
    border: #add0e6 solid 2px;
    .close-modal-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
