$colors: (
        'red': #ff3200,
        //'orange': #e04301,
        'orange': #fd7500,
        'amber': #ff9703,
        'yellow': #ffee56,
        'lime': #CCFF00,
        'green': #39FF14,
        'darkgreen': #016201,
        //'cian': #0Fe0eC,
        'aqua': #0FF0FC,
        'blue': #204ee8,
        //'darkblue': #250096,
        'violet': #5600f4,
        'purple': 	#f000ff,
        //'fuchsia': #2d0245,
        'pink': #db2777,
        'rose': #e11d48,
        'lightgrey': #cccccc,
);

@function col($col) {
    @return map-get($colors, $col);
}

$size-input-btn: 7px;

$bg-main:darken(#252324, 20%);

$directions: 'top', 'right', 'bottom', 'left';
$border-color: #e3e0d1;
$main-line-size: 65%;
$minor-line-size: 30%;
$line-radius: 200px;
$puzzle-text-color: $border-color;
$puzzle-max-width: 400px;


$point-size: 56%;

$tablet: 900px;

$device: 650px;

$font-main: 'Roboto', sans-serif;

.shadow {
    //box-shadow: 0 0 3px 3px lightblue;
    border: 2px solid lightblue;
    box-sizing: border-box;
}

.cell-border {
    border: .5px solid $border-color;
}

#menu-btn {
    //margin: 15px 0;
    width: 2.2rem;
    height: 2.2rem;
    //border-radius: 50%;
    border: none;
    //@extend .shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    //transition: box-shadow .3s;
    &:hover {
        //box-shadow: 0 0 3px 3px lighten(blue, 30%);
        svg {
            color: gold;
        }
    }
    svg {
        display: block;
        color: #e3e0d1;
        width: 1.6rem;
        height: 1.6rem;
        stroke-width: 1.2;
    }
}

@mixin rect($width: 90vw) {
    //max-height: 70vh;
    width: $width;
    max-width: $puzzle-max-width;
    @for $i from 3 to 30 {
        @for $j from 3 to 40 {
            &.size-#{$i}-#{$j} {
                height:  $width / $i * $j;
                max-height:  $puzzle-max-width / $i * $j;
                display: grid;
                grid-template-columns: repeat(#{$i}, 1fr);
                grid-template-rows: repeat(#{$j}, 1fr);
                .c-0-#{$j - 1} {
                    border-bottom-left-radius: 2px;
                }
                .c-#{$i - 1}-#{$j - 1} {
                    border-bottom-right-radius: 2px;
                }
                .c-#{$i - 1}-0 {
                    border-top-right-radius: 2px;
                }
            }
        }
    }
}

#main-btn {
    border-radius: 4px;
    background-color: transparent;
    //border: none;
    //padding: 10px;
    width: 2.2rem;
    height: 2.2rem;
    margin: 10px;
    //color: aliceblue;
    transition: all .3s;
    svg {
        display: block;
        color: #e3e0d1;
        width: 1.6rem;
        height: 1.6rem;
        stroke-width: 1.2;
    }
    &:hover {
        svg {
            color: gold;
        }

    }
}

#modal {
    position: absolute;
    width: 80vw;
    height: 40vh;
    border-radius: 5px;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    z-index: 300000;
    border-radius: 5px;
    border: #add0e6 solid 2px;
    .close-modal-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
