$colors: (
        'red': #ff3200,
        //'orange': #e04301,
        'orange': #fd7500,
        'amber': #ff9703,
        'yellow': #ffee56,
        'lime': #CCFF00,
        'green': #39FF14,
        'darkgreen': #016201,
        //'cian': #0Fe0eC,
        'aqua': #0FF0FC,
        'blue': #204ee8,
        //'darkblue': #250096,
        'violet': #5600f4,
        'purple': 	#f000ff,
        //'fuchsia': #2d0245,
        'pink': #db2777,
        'rose': #e11d48,
        'lightgrey': #cccccc,
);

@function col($col) {
    @return map-get($colors, $col);
}

$directions: 'top', 'right', 'bottom', 'left';

$main-line-size: 65%;
$minor-line-size: 30%;
$line-radius: 200px;
$puzzle-bg-color: aliceblue;
$puzzle-max-width: 400px;

$point-size: 56%;

$tablet: 900px;

$device: 650px;

$font-main: 'Roboto', sans-serif;

main-btn {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 3px 2px lighten(blue, 30%);
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    transition: all .3s;
    &:hover {
        box-shadow: 0 0 3px 2px lighten(blue, 40%);
    }
}

modal {
    position: absolute;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    z-index: 300000;
}
