.congrats-modal {
    position: absolute;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
