@import "../assets/scss/constant";

.puzzle-filters_container {
    position: absolute;
    z-index: 1000;
    width: 80vw;
    max-width: 400px;
    height: 320px;
    background-color: #252324;
    padding: 30px 20px;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px lightblue;
    margin-bottom: 10px;
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        color: #add0e6;
    }
    .puzzle-filters_title {
        font-size: 1.8rem;
        color: aliceblue;
        margin-bottom: 15px;
    }
    &.show-up {
        opacity: 1;
        transition: all .2s linear;
    }
    .size-setter {
        transform: rotate(90deg) scale(1.2);
    }
    &__size-wrapper, &__date-wrapper, &__date-wrapper, &__rating-wrapper, &__grade-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        .dots-input__size {
            justify-content: flex-start;
            width: auto;
            margin-right: 10px;
            &-value {
                text-align: left;
                color: aliceblue;
                width: auto;
            }
        }
    }

    &__date-wrapper {
        input[type='date'] {
            border: 2px solid lightblue;
            border-radius: 4px;
            color: aliceblue;
            background-color: #252324;
            padding: 3px;
            outline: none;
        }
        //::-webkit-datetime-edit-text,
        ::-webkit-calendar-picker-indicator { background-color: #add0e6; }
    }
    label {
        display: inline-block;
        color: aliceblue;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.4rem;
        padding: 0 9px;
    }
    .date-picker-wrapper {
        label {
            padding: 0 9px 0 0;
        }
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        appearance: none;
        margin: 0;
        font: inherit;
        box-shadow: 0 0 2px 2px lightblue;
        background-color: black;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 4px;
        &:checked {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: .2rem;
                left: .2rem;
                width: .9rem;
                height: .9rem;
                clip-path: polygon(14% 44%, 0 65%, 50% 80%, 80% 16%, 70% 0%, 43% 62%);
                background-color: aliceblue;
            }
        }
    }
}

.puzzles-container {
    position: relative;
    top: 0;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 0 0 3px 3px lightblue;
    border-radius: 1rem;
    padding: 1.8rem;
    max-width: 400px;
    box-sizing: border-box;
    transition: all .2s linear;
    max-height: 400px;
    height: 50vw;
    overflow: hidden;
    .dots-puzzle_menu__btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: unset;

        &.puzzle-filters-menu {
            left: 0;
        }
    }
    &.filter-open {
        transform: translateY(325px);
    }
    .puzzle-btn_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .puzzle-btn {
        @extend #main-btn;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 1rem;
        font-family: Roboto, sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        opacity: .4;
        color: #252324;
        margin: 0;
        &.cur-level {
            opacity: 1;
        }
        @each $name, $col in $colors {
            &.col-#{$name} {
                background-color: $col;
            }
        }
    }
}
