@import "../../assets/scss/constant";

.dots-puzzle_menu {
    display: flex;
    flex-direction: column;
    max-width: $puzzle-max-width;
    //width: 100%;
    &__dimension {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__level {
        color: aliceblue;
        text-align: center;
        margin-right: 10px;
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: 1.4rem;
        width: 3rem;
        span {
            color: inherit;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;
        padding-right: 10px;
        box-sizing: border-box;
        svg {
            stroke-width: 2;
        }
    }
    &__btn {
        @extend #menu-btn;
    }
    &__colors-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
