@import "../../assets/scss/constant";

.dots-puzzle_menu {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: $puzzle-max-width;
    //width: 100%;
    &__dimension {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
    }

    &__level {
        color: #add0e6;
        text-align: center;
        line-height: 1.8rem;
        font-size: 1rem;
        text-align: center;
        padding: 0 5px;
        width: 90px;
        @extend .shadow;
        border-radius: 2rem;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;
        padding-right: 10px;
        box-sizing: border-box;
        svg {
            stroke-width: 1.2;
        }
    }
    &__btn {
        @extend #menu-btn;
        padding: 5px;
    }
    &__colors-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
