@import '../../assets/scss/constant';

.scroll-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #252324;
    .container_bg {
        position: absolute;
        z-index: -1000;
        height: 400px;
        width: 400px;
        right: 0;
    }
    &.vertical-bar {
        flex-direction: column;
        .progress-bar_wrapper {
            position: relative;
            min-height: 240px;
            width: 24px;
            //border-radius: 10px;
            @extend .shadow;
        }
        .progress-bar {
            position: absolute;
            top: 30px;
            width: 24px;
            min-height: 180px;
            &:hover {
                cursor: pointer;
                background-color: rgba(120, 206, 206, 0.2);
            }
            &_slider {
                width: 24px;
                left: 0px;
                height: 60px;
                margin-top: -30px;
            }
        }
    }

    .progress-bar_slider {
        position: absolute;
        border-radius: 8px;
        width: 44px;
        top: -2px;
        height: 24px;
        background-color: darken(lightblue, 5%);
        transition: all .2s linear;
        border-color: $bg-main;
        &:hover {
            background-color: darken(lightblue, 15%);
        }

        //@extend .shadow;
    }
}
