@import '../../assets/scss/constant';


.scroll-bars-container {
    position: relative;
}

.scroll-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    background-color: #252324;
    .progress-bar_wrapper {
        &:hover {
            cursor: pointer;
            background-color: rgba(120, 206, 206, 0.2);
        }
        position: relative;
        @extend .shadow;
    }
    &.horizontal-bar {
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        min-width: 210px;
        .progress-bar_wrapper {
            min-width: 240px;
            height: 24px;
        }
        .input__btn {
            transform: rotate(-90deg) scale(.9);
        }
    }
    &.vertical-bar {
        flex-direction: column;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        .input__btn {
            transform: scale(.9);
        }
        .progress-bar_wrapper {
            &:hover {
                cursor: pointer;
                background-color: rgba(120, 206, 206, 0.2);
            }
            position: relative;
            min-height: 240px;
            width: 24px;
            //border-radius: 10px;
            @extend .shadow;
        }
        .progress-bar {
            position: absolute;
            top: 15px;
            width: 24px;
            min-height: 210px;

            &_slider {
                width: 24px;
                left: 0px;
                height: 30px;
                margin-top: -15px;
            }
        }
    }

    .progress-bar_slider {
        position: absolute;
        border-radius: 8px;
        width: 44px;
        top: -2px;
        height: 24px;
        background-color: darken(lightblue, 5%);
        transition: all .2s linear;
        border-color: $bg-main;
        &:hover {
            background-color: darken(lightblue, 15%);
        }

        //@extend .shadow;
    }
}
