@import '../../assets/scss/constant';


.scroll-bars-container {
    position: relative;
    &:hover {
        .scroll-bar.vertical-bar {
            visibility: visible;
        }
    }
    .input__btn {
        padding: 0;
    }
}

.scroll-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    background-color: darken(#252324, 5%);

    .progress-bar_wrapper {
        position: relative;
        &:hover {
            cursor: pointer;
            background-color: rgba(120, 206, 206, 0.2);
        }
    }
    &.horizontal-bar {
        left: 50%;
        bottom: -0px;
        transform: translateX(-50%);
        height: 15px;
    }
    &.vertical-bar {
        flex-direction: column;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        visibility: hidden;
        .progress-bar_wrapper {
            &:hover {
                cursor: pointer;
                background-color: rgba(120, 206, 206, 0.2);
            }
            width: 15px;
        }
        .progress-bar {
            position: absolute;
            width: 10px;
            height: 100%;
            &_slider {
                width: 10px;
            }
        }
    }

    .progress-bar_slider {
        position: absolute;
        left: 2px;
        min-height: 10px;
        border-radius: 4px;
        background-color: darken(lightblue, 45%);
        transition: all .2s linear;
        //border-color: $bg-main;
        &:hover {
            background-color: darken(lightblue, 45%);
        }
    }
}
