@import "../assets/scss/constant";

.dots-puzzle_menu {
    .open-dropdown-btn{
        @extend #main-btn;
        margin-left: 10px;
        border-radius: 0 5rem 5rem 0;
        width: 2.5rem;
        height: 2.5rem;
        box-shadow: 0 0 3px 3px #add0e6;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            display: block;
            color: ivory;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    display: flex;
    justify-content: center;
    &.main-menu {
        position: absolute;
        top: 20vh;
        left: 0;
        .menu-dropdown {
            top: 4rem;
            bottom: unset;
        }
        &.puzzle-s {
            width: auto;
            position: relative;
            top: unset;
            left: unset;
            .open-dropdown-btn {
                border-radius: 0 0 5rem 5rem;

            }
            .menu-dropdown {
                bottom: 3.6rem;
                top: unset;
            }
        }
    }
    .menu-dropdown {
        background: $bg-main;
        border-radius: 5px 5px 0 0;
        position: absolute;
        left: -2px;
        width: 4.1rem;
        z-index: 100000;
        opacity: 0;
        display: none;
        transition: opacity .5s;
        &.menu-open {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .open-dropdown-btn {
                margin: unset;
            }
            &.show-up {
                opacity: 1;
            }
        }
    }

}
.mode-switcher-btn {

    padding: 10px 15px;
    font-size: 1.2rem;
    box-shadow: 0 0 3px 3px #add0e6;
}
