.puzzle-resolver-menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: lightblue;
    border: 2px solid lightblue;
    border-radius: 20px;
    height: 2.4rem;
    padding: 0 1rem;
    &-timer {
        display: flex;
        align-items: center;
        p {
            font-size: 1.2rem;
            font-family: Roboto, sans-serif;
        }
    }
    &-level {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    button {
        border-radius: 5px;
        background-color: transparent;
        border: none;
        color: aliceblue;
        font-size: 1.2rem;
        font-family: Roboto, sans-serif;
        span {
            display: block;
            width: 75px;
        }
        &.btn-highlighted {
            //box-shadow: 0 0 1px 1px lighten(blue, 30%);
            animation: next 1.2s infinite ease-out;
        }
    }
}

.dots-puzzle-resolver_menu__footer {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 90vw;
    margin: 0 auto;
    .dots-puzzle_menu__btn, .mode-switcher-ntn{
        margin: 10px;
        width: 2.4rem;
        height: 2.4rem;
    }
    .dots-puzzle_menu__btn:last-of-type {
        //margin-right: 10px;
    }
}

@keyframes next {
    0% {
        color: lighten(blue, 40%);
        //box-shadow: 0 0 2px 2px lighten(blue, 40%);
    }
    50% {
        color: aliceblue;
        //box-shadow: 0 0 2px 2px lighten(blue, 30%);
    }
    100% {
        color: lighten(blue, 40%);
        //box-shadow: 0 0 2px 2px lighten(blue, 40%);
    }
}
