.puzzle-resolver_top-panel-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    p {
        color: aliceblue;
        font-size: 1.2rem;
        line-height: 2rem;
        //padding: 1px 6px;
    }
    button {
        background-color: transparent;
        border: none;
        color: aliceblue;
        font-size: 1.2rem;
        font-family: Roboto, sans-serif;
    }
    .puzzle-resolver_top-panel_timer-wrapper {
        display: flex;
        align-items: center;
        p {
            color: aliceblue;
            font-size: 1.4rem;
            font-family: Roboto, sans-serif;
        }
    }
}
