@import '../../../assets/scss/constant';

.colors-wrapper {
    display: flex;
}

.btn_color {
    width: 1.6rem;
    height: 1.6rem;
    margin: .2rem;
    border-radius: 40px;
    border-color: transparent;
    position: relative;
    @each $name, $color  in $colors {
        &.btn-#{$name} {
            background-color: #{$color};
            // cursor: url('../../assets/images/#{$color}-cursor.png') 10 10, pointer;
            //@if $color == yellow {
            //    background-color: darken($color, 5);
            //}
            &.selected::after {
                content: '';
                width: .9rem;
                height: .9rem;
                border-radius: 50%;
                background-color: lighten($color, 25);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
