@import '../../assets/scss/constant.scss';

.puzzle-cell {
    @extend .cell-border;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.c-0-0 {
        border-top-left-radius: 2px;
    }
    @each $name, $col in $colors {
        &.#{$name} {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100000;
                top: 0;
                left: 0;
                background-color: $col;
                opacity: .1;
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100000;
        top: 0;
        left: 0;
    }
}
