@import '../../assets/scss/constant.scss';

.dots-conn-puzzle {
    // border: solid 2px black;
    &_menu {
        height: auto;
        display: flex;
        margin: 20px;
        flex-direction: column;
    }
    
    &_creator {
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        // flex-direction: row;
        margin: 20px;
        input {
            margin: 10px;
        }
    }
    
    &_body {
        border-radius: 5px;
        border: solid 1px gray;
        $width: 50vw;
        width: $width;
        $max-width: 400px;
        max-width: $max-width;
        @for $i from 3 to 30 {
            @for $j from 3 to 40 {
                &.size-#{$i}-#{$j} {
                    height:  $width / $i * $j;
                    max-height: $max-width / $i * $j;
                    display: grid;
                    grid-template-columns: repeat(#{$i}, 1fr);
                    grid-template-rows: repeat(#{$j}, 1fr);
                }
            }
        }
        .puzzle-cell {
            border: 1px solid darkgray;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100000;
                top: 0;
                left: 0;
            }
        }
    }
}
