@import "assets/scss/constant";

body {
    background: url('./assets/images/AtHome-NightSky-1080x810-1.jpg') no-repeat;
    background-size: 100% 100%;
}

.app {
    margin: 0 auto;
    .header {
        position: relative;
        box-sizing: border-box;
        height: 50px;
        max-width: 500px;
        width: 100%;
        background-color: lighten($bg-main, 15%);
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 0;
        .puzzle-level, .user-id, .puzzle-timer, .size-picker {
            color: $puzzle-text-color;
            font-size: 1.2rem;
            line-height: 1.2rem;
            display: flex;
            align-items: center;
        }
        .user-id {
            background-color: transparent;
            border: unset;
            max-width: 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            //padding: 11px;
        }
    }
    position: relative;
    background-color: darken(#252324, 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 440px;
    .footer {
        background-color: lighten($bg-main, 15%);
        width: 100%;
        .dots-puzzle_menu {
            &__footer {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                max-width: 400px;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                svg {
                    stroke-width: 1.2;
                }

            }
            &__btn {
                @extend #menu-btn;
                padding: 5px;
                &.save-puzzle-btn {
                    background: url("./assets/images/saveas_5165.png") no-repeat center;
                    background-size: 55% 55%;
                    filter: invert(100%);
                }
            }
        }
    }
    //@media screen and (min-aspect-ratio: 100/101) and (max-height: $device) {
    //    transform: rotate(90deg);
    //    min-height: 100vw;
    //    max-height: 100vw;
    //}
    //@media screen and (max-aspect-ratio: 54/71){
    //    padding: 0;
    //}
}

.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: unset;
    padding: unset;
    color: white;
}

.loading-spinner_puzzles {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    &:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        //border: 1.8rem solid lightblue;
        //border-color: lightblue transparent lightblue transparent;
        animation: spinner 1.2s infinite;
    }
}

.animated-component {
    position: relative;
    opacity: 0;
    transition: opacity .3s;
    &.show-up {
        opacity: 1;
    }
}

.dots-conn-puzzle {
    // border: solid 2px black;

    //&_resolver {
    //    opacity: 0;
    //    @media screen and (min-aspect-ratio: 100/101) and (max-height: $device) {
    //        max-width: 90vh;
    //    }
    //    @media screen and (max-aspect-ratio: 54/71){
    //        padding: 20px 0 0;
    //    }
    //}

    &_creator {
        height: auto;
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //@media screen and (min-aspect-ratio: 100/101) and (max-height: $device) {
        //    width: 90vh;
        //}
        //@media screen and (max-aspect-ratio: 54/71){
        //    padding: 20px 0 0;
        //}
    }

    &_body {
        position: relative;
        background-color: lighten($bg-main, 0%) ;
        border-radius: 2px;
        @extend .cell-border;
        min-width: 320px;
        @include rect(90vw);
        //@media screen and (max-aspect-ratio: 54/71){
        //    @include rect(66vw);
        //}
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
