@import "../../assets/scss/constant";

.dots-puzzle_menu {
    height: auto;
    display: flex;
    margin: 0 0 10px;
    flex-direction: column;

    &__dimensions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        @extend main-btn;
        padding: 5px 7px;
        margin: 15px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        box-shadow: 0 0 3px 3px lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            display: block;
            color: ivory;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    //&__size-range {
    //    width: 48%;
    //    label {
    //        display: inline-block;
    //        width: 3.5rem;
    //        color: aliceblue;
    //        font-size: 1.1rem;
    //    }
    //    display: flex;
    //    align-items: center;
    //    justify-content: flex-start;
    //    &:last-of-type {
    //        justify-content: flex-end;
    //    }
    //    input {
    //        margin: 5px;
    //        &:focus {
    //            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    //        }
    //    }
    //    [type=number] {
    //        padding-left: 5px;
    //        background: transparent;
    //        color: aliceblue;
    //        width: 2.2rem;
    //    }
    //}
    &__colors-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 5px;
    }
}
