@import "../../assets/scss/constant";

.mode-switcher {
    display: flex;
    justify-content: center;
    .mode-switcher-btn {
        @extend main-btn;
        padding: 10px 15px;
        font-size: 1.2rem;
        box-shadow: 0 0 3px 3px #add0e6;
    }
    &.mode-resolve {
        .mode-switcher-btn {
            margin-top: 2rem;
        }
    }

}
